.layout{
    width: 80%;
    margin: 0 auto;
}
.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

.upper-class{
    text-transform: uppercase;
}
.f-w-500{
    font-weight: 500;
}
.f-w-600{
    font-weight: 600;
}
.f-w-700{
    font-weight: 700;
}
.letter-spacing2{
    letter-spacing: 2px
}
.btn2{
    width: 140px;
}
.flex2{
    flex: 3;
}
.flex3{
    flex: 3;
}
.my-t-10{
    margin-top: 10px;

}
.my-t-20{
    margin-top: 30px;
}

.contact-list
{
    margin-top: 15px;
}
.contact-list  li{
    margin-top: 8px;
}
.contact-card{
     
    margin: auto 0;
    position: absolute;
    left: 50%;
    top: 21%;
    transform: translate(-50%, -20%);
    padding: 58px;
    background:linear-gradient(to right,#656565, #242424, #040404);
    box-shadow: rgba(118, 117, 117, 0.35) 0px 5px 15px;
    width: 400px;
    height: 300px;
    border-radius: 30px;



}
.contact-card span{
    color: #d40700;
}
#contact-listhead
{
    text-align: center;
    width: 100%;
    padding-top: 30px;
    
}
.box-shadow
{
    background:linear-gradient(to right,#656565, #242424, #040404);
    box-shadow: rgba(118, 117, 117, 0.35) 0px 5px 15px;
    width: 800px;
    height: 500px;
    border-radius: 30px;
    /* justify-items: center; */
    margin-left: 180px;
}
.center_text{
    text-align: center;
}
